<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/ROBOT.png` | relURL }}" width="150" height="150" alt="RadioPlayerLogo">  
        <h2 class="h2">Simple & Straightforward<small class="d-none">🦉</small></h2>
        <p> On installation, Chromagotchi automatically populates a list of all your open tabs, which will update if new tabs are opened!</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/CUTE.png` | relURL }}" width="150" height="150" alt="RadioPlayerLogo">  
        <h2 class="h2">Choose Your Focus<small class="d-none">🚀</small></h2>
        <p>Everybody defines productivity differently---that's why with Chromagotchi, you can Star any website that fits your workflow. Time spent on those websites will help keep your Chromagotchi alive!</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/BUNNY.png` | relURL }}" width="150" height="150" alt="RadioPlayerLogo">  
        <h2 class="h2">Foster Productivity & Focus<small class="d-none">📈</small></h2>
        <p> Your Chromagotchi's health bar will drop every 10 minutes! To keep it alive, spend time on your list of "Focused" or Starred websites.  </p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Customize Your Chromagotchi Pet<small class="d-none">🛡️</small></h2>
        <p> Choose an avatar you like from our default digital pet list---if you don't like our options, upload anything your heart desires. </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Motivating & Encouraging<small class="d-none">✨</small></h2>
        <p>Customizing your personal digital pet encourages you to form a relationship with it, which motivates you to keep working to keep it alive!</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Integrate in Your Browser<small class="d-none">🧰</small></h2>
        <p>Chromagotchi comes with a popup, so you can easily check your digital pet's health status, as well as a landing page for starring websites, customizing your avatar, and tracking your focused time.</p>
    </div>
</div>
